.header {
    background-color: #fafafa;
    padding: 10px 0;

    .container {
        margin: 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        gap: 10px;
    }

    .item {
        flex: 1;
    }

    .item:first-child {
        display: flex;
        align-items: center;
    }

    .item:nth-child(2) {
        display: grid;
        place-content: center;
        flex: 2;
        a {
            display: grid;
            place-content: center;
        }
    }

    .item:nth-child(3) {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    // left nav
    .leftNav {
        list-style-type: none;
        li {
            display: inline-block;
            margin-right: 10px;
            color: #2d2d2d;
        }

        a {
            font-size: 20px;
        }
    }

    // Right nav
    .rightNav {
        li {
            display: inline-block;
            margin-left: 20px;
        }
    }

    // shopping bag
    .shoppingBag,
    .favItems {
        position: relative;
        span {
            position: absolute;
            top: -5px;
            right: -10px;
            font-size: 12px;

            height: 15px;
            width: 15px;
            background-color: rgb(212, 0, 0);
            color: rgb(224, 224, 224);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
        }
    }
}
